<header>
    <div style="width:10%;">
        <div style="width:50%; height:50%; float:left;"><h4><a href="/">Home</a></h4></div>
        <div style="width:50%; height:50%; float:right;"><h4><a href="/about">About</a></h4></div>
    </div>
    <br>
    <h2>{{capitalize pMessage}}</h2>
</header>